<div *ngIf="data">
  <div class="relative group">
    <div class="flex justify-center items-center opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top-0 left-0 h-full w-full"></div>
    <img class="w-full" src="{{data.miniature ? data.miniature : 'assets/images/no-image.jpg'}}" alt="A girl wearing dark blue suit and posing" />
    <div class="absolute bottom-0 p-8 w-full opacity-0 group-hover:opacity-100">
      <button class="font-medium text-base leading-4 text-gray-800 bg-white py-3 w-full"><a target="_blank" download="{{data.session}}.{{matiere ? matiere.code : ''}}.{{data.annee}}" href="{{data.lien}}">Ouvrir</a></button>
      <button  class="bg-transparent font-medium text-base leading-4 border-2 border-white py-3 w-full mt-2 text-white"><a target="_blank" download="{{data.session}}.{{matiere ? matiere.code : ''}}.{{data.annee}}" href="{{data.lien}}">Télécharger</a></button>
    </div>
  </div>
  <p class="font-semibold text-xl leading-5 text-gray-800 mt-4">{{data.session}}.{{matiere ? matiere.code : ''}}.{{data.annee}}</p>
  <p class="font-normal text-base leading-4 text-gray-600 mt-4">{{data.date | date : 'EEE dd/MM/YYYY'}}</p>
</div>
